@using Dictant.Shared.Models.Tasks;
@using Dictant.Shared.Models.Tasks.JsonModels;
@using Dictant.Web.Components.Editor;  
@page "/profile"
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authStateProvider
@inject HttpClient http
<div class="row">
    <div class="col-md-12">
        <RadzenTabs Style="margin-top:20px;">
            <Tabs>
                <RadzenTabsItem Text="Tasks">
                    <RadzenCard>
                        <div class="row">
                            <div class="col-md-12">
                                <TaskEditorComponent />
                            </div>
                        </div>
                        <div style="margin-top:10px" class="row">
                            <div class="col-md-12">
                                <h3>My Tasks</h3>
                                <RadzenGrid RowSelect="@(args => navigationManager.NavigateTo("/task?id="+args.Id))" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data="@Tasks" TItem="DictantSource" ColumnWidth="200px">
                                    <Columns>
                                        <RadzenGridColumn TItem="DictantSource" Property="Title" Title="Title" />
                                    </Columns>
                                </RadzenGrid>
                            </div>
                        </div>
                        <div style="margin-top:10px" class="row">
                            <div class="col-md-12">
                                <h3>My Attempts</h3>
                                <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            AllowSorting="true" Data="@Attempts" TItem="UserAttempt" ColumnWidth="200px">
                                    <Columns>
                                        <RadzenGridColumn TItem="UserAttempt" Property="Title" Title="Title" />
                                        <RadzenGridColumn TItem="UserAttempt" Title="Mistakes">
                                            <Template Context="data">
                                                @GetMistakes(data.Attempt)
                                            </Template>
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="UserAttempt" Title="Repeats">
                                            <Template Context="data">
                                                @GetRepeats(data.Attempt)
                                            </Template>
                                        </RadzenGridColumn>
                                        <RadzenGridColumn TItem="UserAttempt" Title="Elapsed Time">
                                            <Template Context="data">
                                                @GetElapsedTime(data.Attempt)
                                            </Template>
                                        </RadzenGridColumn>
</Columns>
                                </RadzenGrid>
                            </div>
                        </div>
                    </RadzenCard>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>

