@page "/task"
@inject NotificationService notifyService
@inject NavigationManager navigationManager
@inject IJSRuntime js;
@inject HttpClient http
<div class="row">
    <div class="col-md-12">
        <audio id="zvuk" preload="none" src="https://zaycev.net/musicset/dl/083cbb792c8b9ad91a78e27c3b14601f/3080181.json?spa=false"></audio>
        @if (Source != null)
        {
            <div class="row" style="margin-top:20px">
                <div class="col-md-12">
                    <h2>@Source.Title</h2>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <RadzenCard Style="margin-bottom:5px">
                        <h3>Unique words:</h3>
                        @foreach (var word in GetUniqueWords())
                        {
                            @(word + " ")
                        }
                    </RadzenCard>
                </div>                
            </div>
            <RadzenCard Style="margin-bottom:5px">
                <h3>Entered text:</h3>
                @foreach (var val in Line)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                @val
                            </h3>
                        </div>
                    </div>
                }
            </RadzenCard>            
            if (!IsFinished)
            {
                if (IsStarted)
                {
                    <div class="row" style="margin-bottom:5px">
                        <div class="col-md-12">
                            <RadzenTextBox @oninput="@(args => wordbox = args.Value.ToString())" @bind-Value="@wordbox" @onkeypress="InputKeyDown"></RadzenTextBox>
                        </div>
                    </div>
                }
            <div class="row">
                <div class="col-md-12">
                    <Radzen.Blazor.RadzenButton Style="margin-bottom:5px" Text="@interactButtonText" Click="@Start" />
                </div>
            </div>
            }
            else
            {
                <RadzenCard Style="">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">  Mistakes: <strong>@MistakesCount</strong></h1>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">  Repeats: <strong class="text-center">@Repeats</strong></h1>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">  Time elapsed: <strong>@(string.Format("{0}:{1}", (int)elapsedTime.TotalMinutes, elapsedTime.Seconds))</strong></h1>
                        </div>                        
                    </div>
                </RadzenCard>
            }
        }
    </div>
</div>